:root {
    --margin: 50px;
}

.letter {
    margin-bottom: 5px;
}

.letter:focus {
    outline: none;
}

.letter-input {
    margin-bottom: 10px;
}

p {
    font-size: 0.8em;
    display: inline-block;
}

label {
    font-size: 0.8em;
    display: inline-block;
}

.letter-input p {
    display: inline;
}

h1 {
    margin-left: var(--margin);
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 2em;
    margin-top: 3em;
}

h3 {
    font-size: 1.5em;
    font-weight: 800;
    /* margin bottom a bit smaller */
    margin-bottom: 0;
}

h5 {
    margin-bottom: 3px;
}

h4 {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 0;
}

.sepa-legal p {
    width: max(400px, 50%);
    font-size: 0.8em;
    margin-top: 0.1em;
    color: #666;
}

input {
    padding: 3px;
    height: 20px;
    width: 400px;
    border: 1px solid black;
}

input:focus {
    outline: none;
}
input[type=date] {
    width: 200px;
    font: inherit;
    font-size: 0.8em;
}
input[type=number] {
    width: 80px;
    font: inherit;
    font-size: 0.8em;
}
input[type=radio] {
    margin-top: 0.5em;
    width: 50px;
}
input[type=radio] + label {
    font-size: 1em;
    margin-top: 0.4em;
}
input[type=checkbox] {
    margin-top: 0.5em;
    margin-left: 0;
    width: 15px;
    height: 15px;
}

.lockerSize {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.letter {
    padding: 3px !important;
    width: 20px !important;
    height: 20px !important;
    border: 1px solid black !important;
    text-align: center !important;
}

.contact {
    width: max-content;
    display: inline-block;
    margin-right: 20px;
}

button {
    width: 250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 0;
    font-size: 0.9em;
    margin: 10px 0 30px;
    cursor: pointer;
    background: #d9d9d9;
}

button:active {
    background-color: #cbcbcb;
}

.terms-and-conditions {
    margin-top: 30px;
}

img {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    width: 200px;
}

.form {
    margin: var(--margin);
}

@media (max-width: 600px) {
    :root {
        --margin: 0
    }
}