/* Above content */

.above-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#view-selection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    flex-wrap: wrap;
}

#view-selection li {
    margin: 0 0.2rem;
}

#view-selection li a {
    color: #CCCCCC;
    text-decoration: none;
    font-size: 1rem;
}

#legend {
    display: flex;
    justify-content: center;
    align-items: center;
}

#legend li {
    margin: 0 0.5rem;
}

#legend li span {
    color: var(--status-color);
}

#search-input {
    display: block;
    height: 15px;
    width: 200px;
    margin: 0 0.2rem;
    border: 1px solid black;
    padding: 5px;
}

/* Table */

#table {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#table li {
    float: left;
    cursor: pointer;
    margin: 3px;
}

#table li span {
    display: block;
    background: var(--status-color);
    height: 24px;
    width: 24px;
    font-size: 10px;
    text-align: center;
    color: var(--text-color);
    vertical-align: middle;
    line-height: 24px;

    /* Non selectable */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


